body {
  background-color: rgba(0, 0, 0, 0.814);
}

.navbar {
  background-color: white;
}

.card {
  background-color: black;
  color: white;
}

.img-story {
  width: 30%;
  height: 30%;
}

#endText {
  font-size: 50px;
}
